.messageContainer {
    margin: 10px;
    margin-bottom: 10px;
}

.messageBody {
    width: fit-content;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding-bottom: 12px;
}

.messageGreenZone:hover {
    /*    background-color: var(--brand-high-dark);*/
    /*    border-color: rgba(255, 255, 255, 0.2);*/
    /*    border-color: rgba(49, 61, 47, 0.5);*/
    /*    background-color: rgba(49, 61, 47, 0.5);*/
    outline: solid 3px rgba(49, 61, 47, 0.5);
}

.messageGreenZone {
    display: flex;
    width: fit-content;
    background: var(--message-color);
    border-style: solid;
    border-color: var(--message-color);
    border-width: 5px;
    border-radius: 15px 15px 15px 2px;
    margin-top: -10px;
    padding: 0 1rem 0 0.5rem;
    max-width: clamp(100px, 50% 150px);
    word-break: break-all;
}

.messageText {
    margin: 0;
    padding: 0;
}

.messageDate {
    display: flex;
    width: fit-content;
    font-size: 12px;
    padding-left: 6px;
/*    margin-bottom: -20px;*/
}

.name {
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
}

.myMessage {
    background: var(--our-message-color);
    border-color: var(--our-message-color);
}
