<h3 class="title">TestStyle</h3>

<div class="block">
    <p class="pt">1. Think</p>
    <p class="pt">2. Do</p>
    <p class="pt">3. Test</p>
</div>

@code {

}

<style>
    .block {
        padding-left: 8px;
    }

    .pt {
        color: salmon;
        font-size: 18px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .title {
        border: solid;
        padding: 10px;
        background-color: #89025651;
        color: white;
        font-size: x-large;
    }
</style>
