button {
    margin-right: 0.5rem;
}

.input-block {
    display: grid;
    grid-template-columns: 1fr clamp(100px, 12%, 300px);
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.fixed-block {
    position: sticky;
    bottom: 0;
    background-color: var(--dark-grey);
    padding-bottom: 0.5rem;
    margin-left: -2rem;
    margin-right: -1.5rem;
}

.message-container {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.load-more {
    color: var(--violet);
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 640px) {
    input {
        margin-left: 1rem;
    }
}

.title {
    /* Чтобы спрятать часть линий, которые 
    ** будут вылазить за пределы блока */
    overflow: hidden;
    color: var(--light-grey);
    /* Выравнивание заголовка по центру, 
    ** можно использовать left, right */
    text-align: center;
    /* Тут можно добавить другие стили для заголовка */
    font-size: 16px;
    font-weight: 600;
}

    .title span {
        /* Стили тега обертки для заголовков 
    ** в несколько строк */
        display: inline-block;
        vertical-align: middle;
    }

    .title:before,
    .title:after {
        /* Обязательно указываем пустое свойство content, 
    ** иначе псевдоэлементы не появятся на сайте */
        content: "";
        /* Указываем что наши линии будут строчно-блочные и 
    ** выравнивание по высоте - по центру */
        display: inline-block;
        vertical-align: middle;
        /* Задаем ширину 100% и выбираем высоту линии, 
    ** в нашем примере она равна 4 пикселям */
        width: 100%;
        height: 4px;
        border: none;
        border-radius: 30px 30px 30px 30px;
        /* Добавляем цвет для линии */
        background-color: var(--light-grey);
        /* Добавляем пседоэлемантам возможность изменить 
    ** позицию линии, для создания отступов от текста */
        position: relative;
    }

    .title:before {
        /* Смещаем левую линию на 100% влево, чтобы линия 
    ** встала рядом с текстом слева */
        margin-left: -100%;
        /* Указываем в пикселях отступ линии от текста заголовка */
        left: -14px;
    }

    .title:after {
        /* Смещаем правую линию на 100% вправо, чтобы 
    ** линия встала рядом с текстом справа */
        margin-right: -100%;
        /* Указываем в пикселях отступ линии от текста заголовка */
        right: -14px;
    }